* {
  box-sizing:border-box;
}

body{
  background-color: #242424;
}
#content{
  position: relative;
  height: 100%;
  top: -49px;
  padding-top: 49px;
  div{
    height: 100%;
    div.cpu{
      width:100%;
      height: auto;
      padding: 10px 10px 0 10px;
      .frequency{
        font-size: 0.5em;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          width:23%;
          span.label{
            margin-left: 5%;
          }
          span.legend{
            display: inline-block;
            width: 20%;
            height: 5px;
            &.total{
              background-color: #3d74ff;
            }
            &.user{
              background-color: #FF0BB1;
            }
            &.sys{
              background-color: #30D8FF;
            }
            &.nice{
              background-color: #FFDE24;
            }
          }
        }
      }
    }

  }
}


